# Azure Service Principal Credentials
AZURE_CLIENT_ID=00000000-0000-0000-0000-000000000000
AZURE_CLIENT_SECRET=your-azure-client-secret
AZURE_TENANT_ID=00000000-0000-0000-0000-000000000000

# API Management Configuration
APIM_URL=https://your-apim-instance.azure-api.net
API_KEY=your-api-key-here


# Additional values from Terraform remote state
BASE_URL=https://your-base-fqdn.example.com
APP_SCOPE=api://00000000-0000-0000-0000-000000000000/.default
TARGET_NUMBER=+10000000000
